:root{
    --background: #333;
    --ecriture: #006400;


}

body{background-color: var(--background);
color: var(--ecriture);}


.shopping{
    position: relative;
    text-align: right;
    padding-right: 5px;
}


.shopping span{
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 2px 10px;
    color: var(--ecriture);





}




nav{
    background-color:#f5f5f5;
position: sticky;

}

#logo{width: 150px;
    position: relative;
    left: 50%;
}
.navb{display: flex;
margin:20px;
padding: 30px;
list-style: none;
justify-content: space-around;}
select{background-color:#f5f5f5;
color: var(--ecriture);
border-style: none;
text-decoration: underline;}

.brwn:hover{color: blue;
cursor: pointer;}


.jeux{display: flex;
    justify-content: space-around;

}
.modal-btn{padding: 10px 14px;
font-size: 14px;
margin: 100px auto;
display: block;
min-width: 150px;
cursor: pointer;}
#c1{
display: none;
position: fixed;

top: 0;
width: 100vw;
height: 100vh;
}

.modal {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--background); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /

}
.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close-modal:hover{
    color: #fff;
    background-color: red;
    cursor: pointer;
}
.modal h1{
    margin-bottom: 10px;
    font-family: sans-serif;
}
.modal p{
    line-height: 1.4;
    margin-bottom: 5px;
}



.game{
    padding: 50px;
    background-color: #d8a8c0;
    border: #262626 1px solid;
}


#c2{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    }


#c3{
        display: none;
        position: fixed;
        justify-content: center;
  
        width: 40vw;
        height: 30vh;
        }
.brwn a{
    text-decoration: none;
    color: var(--ecriture);
}

.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: rgb(78, 37, 37);
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
    transform: translateX(-200px);
 }
 .card h1{
     color: #8d0ee8;
     font-weight: 100;
     margin: 0;
     padding: 0 20px;
     height: 80px;
     display: flex;
     align-items: center;
 }
 .card .checkOut{
     position: absolute;
     bottom: 0;
     width: 100%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 
 }
 .card .checkOut div{
     background-color: #8d0ee8;
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     cursor: pointer;
 }
 .card .checkOut div:nth-child(2){
     background-color: #1C1F25;
     color: #fff;
 }
 .listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}

.game .bb {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px solid black;
}

.game .bb:hover {
    background-color: #0056b3;
}

.game p {
    margin: 5px 0;
}

.game h3 {
    margin-top: 0;
}


#listcard {
    list-style-type: none;
    padding: 0;
}

#listcard li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}
