:root{
    --ecriture: #03cdff;
    --background: rgba(121, 10, 10, 0.76);


}

body{background-color: var(--background);
color: var(--ecriture);}





nav{
    background-color:red;
position: sticky;

}


#logo{width: 150px;
    position: relative;
    left: 50%;
}
.navb{display: flex;
margin:20px;
padding: 30px;
list-style: none;
justify-content: space-around;}
select{background-color:red;
color: var(--ecriture);
border-style: none;
text-decoration: underline;}

.brwn:hover{color: tomato;}
